xcuserdata
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
Packages
Package.pins
Package.resolved
*.xcodeproj
.swiftpm
.build
Pods
*.xcworkspace
Carthage/Checkouts
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
DerivedData/
.DS_Store
db.sqlite
.env
.env.*
! .env.example
.vscode
